{% extends base_template %}

{% block sonata_admin_content %}
	{% for type, config in configuration.content_types %}
		<div class="panel">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-4">
						{% set route = 'braunedigital_cms_' ~ type  ~ '_block_create' %}
						<a class="btn btn-sm btn-primary" href="{{ path(route, {'parent': page.id, 'returnUrl': admin.generateObjectUrl('edit-content', page), col: app.request.get('col'), pos: app.request.get('pos')}) }}">
							{{ config.label|trans({}, 'BrauneDigitalCmsBundle') }}
						</a>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock sonata_admin_content %}