{% extends sonata_block.templates.block_base %}

{% block block %}
	{% if block.title is not empty %}
		{% include 'BrauneDigitalCmsBundle:Partials:Block/headline.html.twig' with {'block': block} %}
	{% endif %}
    <p>{{ block.body|raw }}</p>
{% endblock %}
